@media screen and (min-width: $desktop-3k) {
  .footer {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  .copyright {
    font-size: 22px;
  }

  .policy {
    font-size: 22px;
  }
  .link-policy {
    font-size: 22px;
  }
}
