@media screen and (min-width: $desktop-3k) {
  .carousel-container {
    height: 1300px !important;
  }

  .prev {
    left: 100px !important;

    width: 80px !important;
    height: 80px !important;

    font-size: 30px !important;
  }
  .next {
    right: 100px !important;

    width: 80px !important;
    height: 80px !important;

    font-size: 30px !important;
  }

  .dots {
    bottom: 40px !important;
  }

  .dot {
    width: 25px !important;
    height: 25px !important;

    &:not(:last-child) {
      margin-right: 15px !important;
    }

    &.active {
      width: 12px !important;
      height: 12px !important;

      width: 33px !important;
      height: 33px !important;
    }
  }
}
