$base-color: #4bcaff;
$base-white-color: #ffffff;
$base-color-text: #414042;
$bg-header: rgba(8, 8, 8, 0.3);
$shadow-header: rgba(255, 255, 255, 0.2);
$shadow-btn-hiro: #277697;
$active-btn: #fefefe;
$bg-available-apps: rgba(3, 3, 3, 0.35);

$bg-sec-features: #f9f9f9;
$border-icon-features: #efefef;
$color-p-card-features: #838383;
$color-wrapper-form: rgba(75, 201, 255, 0.7);

$bg-title-card-gallery: rgba(65, 64, 66, 0.65);
$color-text-btn-contact: #72b3cc;
$shadow-btn-contact: #313032;
$color-placeholder: #d3d3d3;

$bg-btn-slide: rgba(75, 201, 255, 0.2);

$mobile-old: 300px;
$mobile: 480px;
$tablets: 768px;
$desktop: 1280px;
$desktop-fullHD: 1480px;
$desktop-1k: 1920px;
$desktop-2k: 2560px;
$desktop-3k: 3840px;
