@media screen and (max-width: ($mobile-old - 1)) {
  .header {
    height: auto;
  }
  .wrapper-nav {
    height: 100%;
  }
  .wrapper-burger {
    position: relative;

    background-color: transparent;

    width: 32px;
    height: 30px;

    border: 2px solid $base-color;
    border-radius: 5px;
  }
  .burger {
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: $base-color;

    width: 25px;
    height: 2px;

    border-radius: 10px;

    transform: translate(-50%, -50%);
    transition: background-color 250ms linear;
    &::after {
      content: " ";
      display: block;
      position: absolute;
      top: -7px;
      left: 0;

      background-color: $base-color;

      width: 25px;
      height: 2px;

      border-radius: 10px;
      border-radius: 10px;
      transition: top 250ms linear, transform 250ms linear;
    }
    &::before {
      content: " ";
      display: block;
      position: absolute;
      top: 7px;
      left: 0;

      background-color: $base-color;

      width: 25px;
      height: 2px;

      border-radius: 10px;
      transition: top 250ms linear, transform 250ms linear;
    }
    &.close {
      background-color: transparent;

      transition: background-color 250ms linear;

      &::after {
        top: 0px;

        transform: rotate(45deg);

        transition: top 250ms linear, transform 250ms linear;
      }
      &::before {
        top: 0px;

        transform: rotate(-45deg);

        transition: top 250ms linear, transform 250ms linear;
      }
    }
  }
  .nav-container {
    height: 60px;
  }

  .list-container {
    position: absolute;
    top: 0;
    left: 0;
    display: block;

    background-color: $base-color-text;

    width: 100%;
    height: 100vh;

    transform: translateX(-100%);

    transition: transform 250ms linear;
  }
  .active-mob-menu {
    transform: translateX(0);
    transition: transform 250ms linear;
  }

  .list-nav {
    display: block;
    padding-top: 70px;
  }
  .item-nav {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 15px;

    text-align: center;
    &:not(:last-child) {
      margin-right: 0;
    }
  }
  .link-nav {
    padding: 10px;

    &.active {
      &::before {
        display: none;
      }
    }
  }
}
@media screen and (min-width: $mobile-old) and (max-width: $desktop) {
  .header {
    width: auto;

    height: auto;
  }
  .wrapper-nav {
    width: auto;

    height: 100%;
  }
  .wrapper-burger {
    display: block;
    position: relative;

    background-color: transparent;

    width: 32px;
    height: 30px;

    border: 2px solid $base-color;
    border-radius: 5px;
  }
  .burger {
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: $base-color;

    width: 25px;
    height: 2px;

    border-radius: 10px;

    transform: translate(-50%, -50%);
    transition: background-color 250ms linear;
    &::after {
      content: " ";
      display: block;
      position: absolute;
      top: -7px;
      left: 0;

      background-color: $base-color;

      width: 25px;
      height: 2px;

      border-radius: 10px;
      border-radius: 10px;
      transition: top 250ms linear, transform 250ms linear;
    }
    &::before {
      content: " ";
      display: block;
      position: absolute;
      top: 7px;
      left: 0;

      background-color: $base-color;

      width: 25px;
      height: 2px;

      border-radius: 10px;
      transition: top 250ms linear, transform 250ms linear;
    }
    &.close {
      background-color: transparent;

      transition: background-color 250ms linear;

      &::after {
        top: 0px;

        transform: rotate(45deg);

        transition: top 250ms linear, transform 250ms linear;
      }
      &::before {
        top: 0px;

        transform: rotate(-45deg);

        transition: top 250ms linear, transform 250ms linear;
      }
    }
  }
  .nav-container {
    height: 60px;
  }

  .wrapper-apps {
  }

  .list-container {
    position: absolute;
    top: 0;
    left: 0;
    display: block;

    background-color: $base-color-text;

    width: 100%;
    height: 100vh;

    transform: translateX(-100%);

    transition: transform 250ms linear;
  }
  .active-mob-menu {
    transform: translateX(0);
    transition: transform 250ms linear;
  }

  .list-nav {
    display: block;
    padding-top: 70px;
  }
  .item-nav {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;

    text-align: center;
    &:not(:last-child) {
      margin-right: 0;
    }
  }
  .link-nav {
    padding: 10px;

    width: 100%;

    &.active {
      &::before {
        display: none;
      }
    }
  }
}
