@media screen and (max-width: ($mobile-old - 1)) {
  .signal-img-logo {
    left: 26px;
    width: 18px;
    height: 8px;
  }
  .logo-text {
    font-size: 20px;
  }
}
@media screen and (min-width: $mobile-old) and (max-width: $desktop) {
  .signal-img-logo {
    left: 26px;
    width: 18px;
    height: 8px;
  }
  .logo-text {
    font-size: 20px;
  }
}
