@media screen and (max-width: ( $mobile-old - 1)) {
  .carousel-container {
    height: calc(100vh - 60px) !important;
  }
  .carousel-item {
    max-height: calc(100vh - 60px) !important;
  }
  .box {
    & div {
      &:nth-child(1) {
        max-height: calc(100vh - 60px) !important;
      }
    }
  }

  .prev {
    display: none !important;
  }
  .next {
    display: none !important;
  }

  .dots {
    display: flex !important;
    justify-content: center;
    align-items: center;

    bottom: 19px !important;
  }

  .dot {
    width: 8px !important;
    height: 8px !important;

    border-radius: 50%;

    border: 1px solid $base-white-color !important;
    background-color: transparent !important;

    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;

    padding: 0 !important;

    &:not(:last-child) {
      margin-right: 10px !important;
    }

    &.active {
      width: 12px !important;
      height: 12px !important;

      background-color: $base-color !important;

      border: 1px solid $base-color !important;
    }
  }
}

@media screen and (min-width: $mobile-old) and (max-width: $desktop) {
  .carousel-container {
    height: calc(100vh - 60px) !important;
  }
  .carousel-item {
    max-height: calc(100vh - 60px) !important;
  }
  .box {
    & div {
      &:nth-child(1) {
        max-height: calc(100vh - 60px) !important;
      }
    }
  }

  .prev {
    display: none !important;
  }
  .next {
    display: none !important;
  }

  .dots {
    display: flex !important;
    justify-content: center;
    align-items: center;

    bottom: 19px !important;
  }

  .dot {
    width: 8px !important;
    height: 8px !important;

    border-radius: 50%;

    border: 1px solid $base-white-color !important;
    background-color: transparent !important;

    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;

    padding: 0 !important;

    &:not(:last-child) {
      margin-right: 10px !important;
    }

    &.active {
      width: 12px !important;
      height: 12px !important;

      background-color: $base-color !important;

      border: 1px solid $base-color !important;
    }
  }
}
