.header {
  height: 800px;
}

.wrapper-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  position: fixed;
  width: 100%;
  z-index: 2;

  background-color: $bg-header;
  box-shadow: 0 1px 0 $shadow-header;
}

.list-nav {
  display: flex;
}

.item-nav {
  position: relative;

  &:not(:last-child) {
    margin-right: 37px;
  }
}

.link-nav {
  display: inline-block;
  color: $base-white-color;

  font-family: "droid-sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;

  padding-top: 44px;
  padding-bottom: 44px;

  &::before {
    content: "";

    position: absolute;
    top: 0;

    display: block;

    background-color: $base-color;

    width: 100%;
    height: 2px;

    opacity: 0;

    transition: opacity 250ms linear;
  }

  &.active {
    color: $base-color;
    font-weight: 700;

    opacity: 1;

    transition: opacity 250ms linear;
    &::before {
      content: "";

      position: absolute;
      top: 0;

      display: block;

      background-color: $base-color;

      width: 100%;
      height: 2px;

      opacity: 1;

      transition: opacity 250ms linear;
    }
  }
}

.wrapper-burger {
  display: none;
}
